@font-face{
    font-family: 'mushin';
    src: url('font/mushin.otf') format('truetype');
}

@font-face{
    font-family: 'yomogi';
    src: url('font/yomogi.ttf') format('truetype');
}


@font-face{
    font-family: 'huifont';
    src: url('font/HuiFontP29.ttf') format('truetype');
}



*{
    box-sizing: border-box;
}

.body{
    margin: 0;
    width: 100%;
}


.title_wrapper{
    display: flex;
    height: 700px;
    background-image: url("image/top.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.tile_wrapper{
    display: flex;
}


.title{
    font-size: 90px;
    color: rgb(255, 255, 255);
    letter-spacing: 30px;
    opacity: 0.6;
    font-family: "huifont";
}

.tile_image{
    width: 50%;
}

.tile_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.subtitle{
    font-family: "huifont";
    color: brown;
    font-size: 30px;
}

.honbun{
    width: 80%;
}




.c-button {
 color: #000;
 font-weight: 700;
 font-size: 16px;
 text-decoration: none;
 padding: 0.9em 1.6em;
 cursor: pointer;
 display: inline-block;
 vertical-align: middle;
 position: relative;
 z-index: 1;
 margin: 0;
 position: absolute;
 left: 50%;
 margin-right: -50%;
 transform: translate(-50%, -50%)
}

.c-button--gooey {
 color: brown;
 text-transform: uppercase;
 letter-spacing: 2px;
 border: 4px solid brown;
 border-radius: 0;
 position: relative;
 transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
 height: 100%;
 filter: url(#goo);
 overflow: hidden;
 position: absolute;
 top: 0;
 left: 0;
 bottom: -3px;
 right: -1px;
 z-index: -1;
}

.c-button--gooey .c-button__blobs div {
 background-color: brown;
 width: 34%;
 height: 100%;
 border-radius: 100%;
 position: absolute;
 transform: scale(1.4) translateY(125%) translateZ(0);
 transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
 left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
 left: 30%;
 transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
 left: 66%;
 transition-delay: 25ms;
}

.c-button--gooey:hover {
 color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
 transform: scale(1.4) translateY(0) translateZ(0);
}

.map{
   display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.map_text{
    text-align: center;
   
}
